@CHARSET "UTF-8";

.picture-bg .back {
	z-index: 15;
}
.picture-bg .submit-btn {
	z-index: 15;
}
.show-con > img {
	position: absolute;
}
.result-show {
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 5;
}
.portrait-show {
	border-radius: 5px;
	z-index: 3;
}
.deepv_show .girl-show {
	width: 65.6%;
	left: 30.5%;
	bottom: 9.8%;
}
.deepv_show .portrait-show {
	width: 44.1%;
	left: 41.3%;
	bottom: 56.5%;
	transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
}
.deepv_show .portrait-show.rotateimportant {
	transform: rotate(-3deg) !important;
	-webkit-transform: rotate(-3deg) !important;
}
.elegance_show .girl-show {
	width: 65.6%;
	left: 30.5%;
	bottom: 9.8%;
}
.elegance_show .portrait-show {
	width: 36.6%;
	left: 36.9%;
	bottom: 64%;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.elegance_show .portrait-show.rotateimportant {
	transform: rotate(-10deg) !important;
	-webkit-transform: rotate(-10deg) !important;
}
.moli_show .girl-show {
	width: 65.6%;
	left: 30.5%;
	bottom: 9.8%;
}
.moli_show .portrait-show {
	width: 37.8%;
	left: 46.3%;
	bottom: 57.3%;
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
}
.moli_show .portrait-show.rotateimportant {
	transform: rotate(10deg) !important;
	-webkit-transform: rotate(10deg) !important;
}
.qingxin_show .girl-show {
	width: 65.6%;
	left: 30.5%;
	bottom: 9.8%;
}
.qingxin_show .portrait-show {
	width: 36.5%;
	left: 17.3%;
	bottom: 55.9%;
	transform: rotate(-14deg);
	-webkit-transform: rotate(-14deg);
}
.qingxin_show .portrait-show.rotateimportant {
	transform: rotate(-14deg) !important;
	-webkit-transform: rotate(-14deg) !important;
}
.slide_show .girl-show {
	width: 65.6%;
	left: 30.5%;
	bottom: 9.8%;
}
.slide_show .portrait-show {
	/* width: 31.9%;
	left: 15.6%;
	bottom: 59.7%; */
	width: 34%;
	left: 14.5%;
	bottom: 59.5%;
	transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
}
.slide_show .portrait-show.rotateimportant {
	transform: rotate(-25deg) !important;
	-webkit-transform: rotate(-25deg) !important;
}
.together_show .girl-show {
	width: 40.1%;
	left: 15.8%;
	bottom: 41.3%;
}
.together_show .portrait-show {
	width: 43.1%;
	left: 14.8%;
	bottom: 42.3%;
	transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
}
.together_show .portrait-show.rotateimportant {
	transform: rotate(-3deg) !important;
	-webkit-transform: rotate(-3deg) !important;
}
.double_show .girl-show {
	width: 65.6%;
	left: 30.5%;
	bottom: 9.8%;
}
.double_show .portrait-show {
	width: 43.1%;
	left: 24.8%;
	bottom: 52.4%;
	/* transform: rotate(15deg);
	-webkit-transform: rotate(15deg); */
}
.double_show .portrait-show.rotateimportant {
	transform: rotate(0deg) !important;
	-webkit-transform: rotate(0deg) !important;
}
.sticker-show {
	left: 40%;
	top: 40%;
	width: 20%;
	z-index: 6;
}
.root-tips {
	display: none;
	left: 20%;
	top: 20%;
	width:150px;
	z-index: 12;
}
.logo-show {
	left: 5%;
	bottom: 2%;
	width: 75%;
	z-index: 11;
}
.cup-show {	
	right: 5%;
	bottom: 3%;
	width: 13%;
	z-index: 10;
}
.cup-name {
	right: 6.5%;
	bottom: 10%;
	width: 10%;
	z-index: 10;
}